<mat-card style="margin-top: 20px; margin-bottom: 20px">


  <button mat-icon-button (click)="goToCreate()" color="accent" style="float: right">
    <mat-icon fontSet="fas" fontIcon="fa-plus-circle" style="font-size: 35px;"></mat-icon>
  </button>

  <mat-card-header>
    <span style="font-size: 25px">Listado de Viajes</span>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>

    <table mat-table [dataSource]="trips" style="min-width: 800px;">

      <!--Cada Container es una columna-->
      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef> Lugar de Salida </th>
        <td mat-cell *matCellDef="let trip"> {{trip.departure}} </td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef> Lugar de Destino </th>
        <td mat-cell *matCellDef="let trip"> {{trip.destination}} </td>
      </ng-container>

      <ng-container matColumnDef="bus">
        <th mat-header-cell *matHeaderCellDef> Patente del Colectivo</th>
        <td mat-cell *matCellDef="let trip"> {{trip.bus.licensePlate}} </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Fecha de Salida </th>
        <td mat-cell *matCellDef="let trip"> {{trip.getStartDate()}} </td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> Fecha de Llegada </th>
        <td mat-cell *matCellDef="let trip"> {{trip.getEndDate()}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let trip">

          <button mat-icon-button (click)="goToDetail(trip)">
            <mat-icon fontSet="fas" fontIcon="fa-pencil-alt"></mat-icon>
          </button>

          <button mat-icon-button (click)="showList(trip)">
            <mat-icon fontSet="fas" fontIcon="fa-users"></mat-icon>
          </button>

        </td>
      </ng-container>


      <!--Esto es para mostrar las columnas previamente definidas. El primero arma los header y el segundo las columnas-->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
