<mat-card class="box-style">
  <mat-card-content>
    <mat-grid-list cols="3">
      <mat-grid-tile>
        <a class="overview-box" routerLink="/home/persona/list">
          <mat-card class="blue-box" style="height: 40%;">
            <br><mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon><br>Persona
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="overview-box"  routerLink="/home/bus/list">
          <mat-card class="green-box" style="height: 40%;">
            <br><mat-icon fontSet="fas" fontIcon="fa-bus"></mat-icon><br>Bus
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="overview-box"  routerLink="/home/trip/list">
          <mat-card class="black-box" style="height: 40%;">
            <br><mat-icon fontSet="fas" fontIcon="fa-suitcase-rolling"></mat-icon><br>Trip
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
